*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    height:100%;
    background-color: grey;
}

/* sezione header con logo e search bar */
header{
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    width: 100%;
}

.logo{
    color: red;
    font-size: medium;
    text-transform: uppercase;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
nav input{
    width: 15rem;
    height: 2rem;
    font-weight: bolder;
    font-size:medium;
    border-radius: 5px;
}


/* main */
main{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color:cyan;
    
}


.film_container{
 display: flex;
 flex-direction: row;

  flex-wrap: nowrap;
  overflow-y:scroll;
  width: 100%;
 
  
}

.tv_series_container{
    display: flex;
    flex-direction: row;
    
    flex-wrap: nowrap;
    overflow-y:hidden;
    width: 100%;
  
}

.card{
    background-color: cyan;
    position: relative;
    width: 342px;
    height: 513px;
    margin: 10px;
    
    border-radius:10px;
    
}

.cover{
    width: 342px;
    height: 513px;
    position: absolute;
    top: 0;
    border-radius: 10px;
}

.info{
    padding: 5px;
    background-color: black;
    color: white;
    width: 342px;
    height: 513px;
    border-radius: 10px;
}


.star{
    color: yellow;
}
.flags img{
    width: 16px;
    height: 12px;
    border-radius: 10px;
    
}

.card:hover .cover{
 display: none;

}


